@import 'variables';

%stretch {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

[data-modal-id].hidden-content {
    display: none;
}

.modal {
    &-wrapper {
        position: fixed;
        @extend %stretch;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            .modal-backdrop {
                opacity: 1;
            }

            .modal-container {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &-backdrop {
        position: absolute;
        @extend %stretch;
        background: rgba($black, .6);
        z-index: 500;
        transition: $transition-speed ease-out opacity;
        opacity: 0;
    }

    &-container {
        z-index: 700;
        background: $white;
        max-width: 600px;
        border-radius: 4px;
        box-shadow: $shadow;
        opacity: 0;
        transform: scale(.8);
        transition: $transition-speed ease-out opacity, $transition-speed ease-out transform;
    }

    &-header {
        padding: 16px 24px;
        margin: 0;
    }

    &-body {
        padding: 20px 24px;
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 8px;
    }
}